<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622942956859-i6bth2o9cm8b8ldqhibtqp2jtr6rqson.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622942956859-i6bth2o9cm8b8ldqhibtqp2jtr6rqson</string>
	<key>API_KEY</key>
	<string>AIzaSyC2oBNR-A7RAKhYUsRlHOqvcXZEf79A1h8</string>
	<key>GCM_SENDER_ID</key>
	<string>622942956859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Odasaku-Khan.ChapteRED</string>
	<key>PROJECT_ID</key>
	<string>chaptered-f9d11</string>
	<key>STORAGE_BUCKET</key>
	<string>chaptered-f9d11.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622942956859:ios:1da644cd8f754615469b1e</string>
</dict>
</plist>